page-home {

  .button-large-md {
    height: 2.8em;
    font-size: 4rem;
    padding: 2em ;
  }

  .licencia{
      margin-left: 16px;
      font-weight: 500;
      color: #424242;
      text-align: justify;
      text-transform: uppercase;
      width: 40px;
      white-space: wrap;


  }

  .etiqueta{
      font-size: 10px;
      color: white;
      background-color: blue;
      padding: 10px 0;
      margin: 0px 0px 10px 0px;

  }

  img{
    //width: 90px;
    height: 70px;
    //padding-top: 10px;
  }

  .contenidobotones{
    width: 100px;
    height: 110px;
  }





}
